{% include 'head.html' %}
{% include 'menu.html' %}
{% include 'googleChart.html' %}

<div class="container">
  <div class="content">

  <h1>{{ card }}</h1><hr>
  <table cellpadding=5 cellspacing=5>
    
    {% if card.cost %}
    <tr>
      <td><b>Cost:</b></td>
      <td>{{ card.cost }}</td>
    </tr>
    {% endif %}
    
    <tr>
      <td><b>Rarity:</b></td>
      <td>{{ card.rarity }}</td>
    </tr>
    
    {% if card.power and card.toughness %}
    <tr>
      <td><b>P/T:</b></td>
      <td>{{ card.power }} / {{ card.toughness }}</td>
    </tr>
  {% endif %}
  
    <tr>
      <td><b>Set:</b></td>
      <td><a href='{% url card_set_view card.set.label %}'>{{ card.set }}</a></td>
    </tr>
    
  </table>
  
  <hr>
  <table cellpadding=5 cellspacing=5 width=100%>
    <tr>
    <td width=250>
      <iframe scrolling=no width=250 height=400 src='http://magic.tcgplayer.com/db/wp-ch.asp?cn={{ card.card_name }}&sn={{ card.set.label }}'></iframe>
    </td>
    
    <td align=center>
      {% if prices %}
        <h4>Trending TCGPlayer Average Price</h4>
        <font size=1><i>updated @ {{ latest_prices.created }} server time</i></font>
        <div id="visualization" style="width: 600px; height: 300px;"></div>
      {% endif %}
      
      {% if user.is_authenticated %}
      <a class="btn btn-info" href="{% url get_card_view card.id %}">
            <i class="icon-repeat icon-white"></i> Update Prices
      </a>
      {% endif %}
    </td>
  </table>
    
  </div>
</div>

{% include 'foot.html' %}