{% include 'head.html' %}
{% include 'menu.html' %}
{% load tools %}

<div class="container">
  <div class="content">
    
    <h2>Decreasing Card Trends</h2>
    
    <table class="table table-striped" id="table">
      <thead><tr>
        <th><b>Name <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
        <th><b>Set <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
        <th><b>Decreased By <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
        <th><b>Price Flux <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
      </tr></thead>
      <tbody>
      {% for value, card in cards %}
        <tr>       
          <td><a href='{% url card_view id=card.card.id %}'>{{ card }}</a></td>
          <td><a href='{% url card_set_view set=card.card.set.label %}'>{{ card.card.set }}</a></td>
          <td>{{ value|price }}</td>
          <td><font size=1 color=red>Down</font> <i class=icon-arrow-down></i></td>
        </td>
      {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>
{% include 'foot_increase.html' %}