<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});
      google.setOnLoadCallback(drawChartTiny);
      function drawChartTiny() {
        var data = google.visualization.arrayToDataTable([
          ['Date',  'High', 'Avg', 'Log'],
          
          {% for price in prices %}
            ['{{ price.modified.month }}/{{ price.modified.day }}',
            {{ price.high }},
            {{ price.avg }},
            {{ price.low }},],
          {% endfor %}
        ]);

        var options = {
          chartArea: {left:40,top:40,width:"60%",height:"60%"},
          colors: ['green', 'blue', 'purple'],
        };

        var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div_tiny'));
        chart.draw(data, options);
      }
</script>