<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualizationsmall', '1', {packages: ['corechart']});
  
</script>
<script type="text/javascript">
  function drawVisualizationSmall() {
    // Create and populate the data table.
    var data = google.visualization.arrayToDataTable([
      ['x', 'Avg'],
      
      {% for price in prices %}
        ['{{ price.modified.month }}/{{ price.modified.day }}', {{ price.avg }},],
      {% endfor %}
        
      ]);
  
    // Create and draw the visualization.
    new google.visualization.LineChart(document.getElementById('visualizationsmall')).
        draw(data, {curveType: "function",
                    width: 400, height: 300}
            );
  }
  
   google.setOnLoadCallback(drawVisualizationSmall);
</script>