<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date',  'Avg'],
          
          {% for price in prices %}
            ['{{ price.modified.month }}/{{ price.modified.day }}',
            {{ price.avg }},],
          {% endfor %}
        ]);

        var options = {
          chartArea: {left:40,top:40,width:"75%",height:"75%"},
          colors: ['green'],
          isStacked: true,
        };

        var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>