{% include 'head.html' %}
{% include 'menu.html' %}
{% include 'googleChart.html' %}

<div class="container">
  <div class="content">

  <h2>Welcome to MTGToolbook!</h2><br>
  
  
  <p>MTGToolbook is a tool for providing Trending Prices, <a href='http://www.phash.org/'>Image pHash</a>,
  and other userful features for collection Magic: the Gathering cards.</p>
  
  <p>Data collected on MTGToolbook is obtained from <a href='http://magiccards.info'>magiccards.info</a>,
  and prices are pulled from <a href='http://tcgplayer.com'>TCGPlayer.com</a>.<br>
  Links to Wizards of the Coast's <a href='http://gatherer.wizards.com'>Gatherer</a> are also found throughout MTGToolbook.</p>
  
  <center><img src='/static/images/mtgtoolbox.jpg'></center>
 
  </div>
</div>

{% include 'foot.html' %}