{% include 'head.html' %}
{% include 'menu.html' %}

<div class="container">
  <div class="content">
    
    <table class="table table-striped" id="table">
      <thead><tr>
        <th><b>Name <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
        <th><b>Set <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
        <th><b>Increased By <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
      </tr></thead>
      <tbody>
      {% for card, value in cards %}
        <tr>       
          <td>{{ card.card_name }}</td>
          <td>{{ card.set }}</td>
          <td>{{ value }}</td>
        </td>
      {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>
{% include 'foot_increase.html' %}