{% include 'head.html' %}
{% include 'menu.html' %}

<div class="container">
  <div class="content">

    <table class="table table-striped" id="table">
      <thead><tr>
        <th><b>Label <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
        <th><b>Display Name <a href="#"><i class="icon-resize-vertical"></i></a></b></th>
      </tr></thead>
      <tbody>
      {% for label, display_name in sets %}
        <tr>
          <td><a href='{% url add_set_view set=label %}'>
                <i class='icon-plus'></i></a>
                {{ label }}
          </td>
          <td>{{ display_name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>
{% include 'foot.html' %}